<div class="container-fluid">
  <div class="blah-blah"></div>
    <div class="bg-white">
      <form id="create-blab">
        <input id="blab-upvote" name="upvotes" type="hidden" value="1">
        
        <label class="blab-content-label" for="blab-content">Hey, wanna write something stupid?</label>
        <textarea class="blab-content-input" name="text" id="blab-content" rows="3" placeholder="Stupid goes here..."></textarea>
        
        <label class="blab-email-label" for="blabber-email">Identify thyself</label>
        <input class="blab-email-input" id="blabber-email" name="email" type="email" required placeholder="Enter your e-mail" autocomplete="on">

        <input class="blab-send-button" type="submit" value="Blab it!"></input>

      </form>

    </div>
  </div>
  <br/>
  <div class=" bg-white">

      <% for (var i = data.length - 1; i >= 0; i--) { %>
      <div class="blab-container">
          <div class="blab-image">
            <img class="media-object" src="http://email2pic.herokuapp.com/gravatar/<%= data[i].email %>">
          </div>
          <div class="blab-body">
            <div class="blab-email"><%= data[i].email %></div>
            <div class="blab-content"><%= data[i].text %></div>
            <div class="blab-actions">
              <a href="#" class="delete-blab" action="/blabs/destroy/<%= data[i].id %>">delete</a>
              <span> · </span>
              <a href="#" class="upvote-blab"
                        action="/blabs/update/<%= data[i].id %>?upvotes=<%= parseInt(data[i].upvotes || 0) + 1 %>">upvote (<%= (data[i].upvotes || 0) %>)</a>
              <span> · </span>
              <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fwebdev-blabber.herokuapp.com%2Fblabs%2F<%= data[i].id %>&t=<%= data[i].text %>">share</a>
              <span> · </span>
              <a><%= new Date(data[i].createdAt).toLocaleString() %></a>
            </div>

          </div>
        </div>
      <% } %>
    </div>
  </div>

</div>